In [53]:
from pathlib import Path
import os
from dotenv import load_dotenv
import pandas as pd
load_dotenv()
base_path = Path.home() / Path(os.environ.get("DATA_PATH"))
print(base_path)

/home/aayush/rsys_data

In [54]:
df = pd.read_csv(
   base_path/ Path("MINDlarge_train/behaviors.tsv"), 
    sep="\t",
    names=["impressionId","userId","timestamp","click_history","impressions"])

print(f"The dataset originally consist of {len(df)} number of interactions.")


df.head()

The dataset originally consist of 2232748 number of interactions.

,impressionId,userId,timestamp,click_history,impressions
0,1,U87243,11/10/2019 11:30:54 AM,N8668 N39081 N65259 N79529 N73408 N43615 N2937...,N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N5...
1,2,U598644,11/12/2019 1:45:29 PM,N56056 N8726 N70353 N67998 N83823 N111108 N107...,N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...
2,3,U532401,11/13/2019 11:23:03 AM,N128643 N87446 N122948 N9375 N82348 N129412 N5...,N103852-0 N53474-0 N127836-0 N47925-1
3,4,U593596,11/12/2019 12:24:09 PM,N31043 N39592 N4104 N8223 N114581 N92747 N1207...,N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...
4,5,U239687,11/14/2019 8:03:01 PM,N65250 N122359 N71723 N53796 N41663 N41484 N11...,N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...

In [55]:
df['impressions'].dtype

dtype('O')

In [56]:
def process_impression(impression_list):
    list_of_strings = impression_list.split()
    click = [x.split('-')[0] for x in list_of_strings if x.split('-')[1] == '1']
    non_click = [x.split('-')[0] for x in list_of_strings]
    return click,non_click


df['click'], df['presented_slate'] = zip(*df['impressions'].map(process_impression))
df

,impressionId,userId,timestamp,click_history,impressions,click,presented_slate
0,1,U87243,11/10/2019 11:30:54 AM,N8668 N39081 N65259 N79529 N73408 N43615 N2937...,N78206-0 N26368-0 N7578-0 N58592-0 N19858-0 N5...,"[N94157, N78699, N71090, N31174]","[N78206, N26368, N7578, N58592, N19858, N58258..."
1,2,U598644,11/12/2019 1:45:29 PM,N56056 N8726 N70353 N67998 N83823 N111108 N107...,N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,"[N25587, N36266]","[N47996, N82719, N117066, N8491, N123784, N214..."
2,3,U532401,11/13/2019 11:23:03 AM,N128643 N87446 N122948 N9375 N82348 N129412 N5...,N103852-0 N53474-0 N127836-0 N47925-1,[N47925],"[N103852, N53474, N127836, N47925]"
3,4,U593596,11/12/2019 12:24:09 PM,N31043 N39592 N4104 N8223 N114581 N92747 N1207...,N38902-0 N76434-0 N71593-0 N100073-0 N108736-0...,[N114935],"[N38902, N76434, N71593, N100073, N108736, N30..."
4,5,U239687,11/14/2019 8:03:01 PM,N65250 N122359 N71723 N53796 N41663 N41484 N11...,N76209-0 N48841-0 N67937-0 N62235-0 N6307-0 N3...,[N86258],"[N76209, N48841, N67937, N62235, N6307, N34254..."
...,...,...,...,...,...,...,...
2232743,2232744,U316192,11/13/2019 6:50:02 PM,N122359 N37069 N95876 N28787 N73408 N11266 N61321,N113723-0 N123683-1 N5287-0 N76677-0 N53474-0,[N123683],"[N113723, N123683, N5287, N76677, N53474]"
2232744,2232745,U451238,11/12/2019 8:54:06 AM,N12575 N93816 N71643 N87236 N87236,N18861-0 N20990-0 N43085-0 N7937-1,[N7937],"[N18861, N20990, N43085, N7937]"
2232745,2232746,U151246,11/13/2019 12:42:51 PM,N27587 N49668,N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,"[N39887, N110709, N24001, N127572, N10285]","[N39887, N22811, N110709, N1923, N24001, N7667..."
2232746,2232747,U330725,11/12/2019 1:22:57 PM,N121944 N91510 N42280 N60061 N63032 N125223 N4...,N18947-0 N88808-1 N10012-0 N38902-0 N33078-0 N...,[N88808],"[N18947, N88808, N10012, N38902, N33078, N1003..."
2232747,2232748,U500938,11/13/2019 8:10:45 PM,N13311 N73573 N36246 N47118 N71728 N105480 N61...,N24701-0 N13161-0 N39403-0 N40310-0 N5287-0 N1...,[N126252],"[N24701, N13161, N39403, N40310, N5287, N10398..."

In [57]:
news = pd.read_csv(
    base_path/ Path("MINDsmall_train/news.tsv"), 
    sep="\t",
    names=["itemId","category","subcategory","title","abstract","url","title_entities","abstract_entities"])
print(f"The article data consist in total of {len(news)} number of articles.")
news

The article data consist in total of 51282 number of articles.

,itemId,category,subcategory,title,abstract,url,title_entities,abstract_entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."
...,...,...,...,...,...,...,...,...
51277,N16909,weather,weathertopstories,"Adapting, Learning And Soul Searching: Reflect...",Woolsey Fire Anniversary: A community is forev...,https://assets.msn.com/labs/mind/BBWzQJK.html,"[{""Label"": ""Woolsey Fire"", ""Type"": ""N"", ""Wikid...","[{""Label"": ""Woolsey Fire"", ""Type"": ""N"", ""Wikid..."
51278,N47585,lifestyle,lifestylefamily,Family says 13-year-old Broadway star died fro...,NaN,https://assets.msn.com/labs/mind/BBWzQYV.html,"[{""Label"": ""Broadway theatre"", ""Type"": ""F"", ""W...",[]
51279,N7482,sports,more_sports,St. Dominic soccer player tries to kick cancer...,"Sometimes, what happens on the sidelines can b...",https://assets.msn.com/labs/mind/BBWzQnK.html,[],[]
51280,N34418,sports,soccer_epl,How the Sounders won MLS Cup,"Mark, Jeremiah and Casey were so excited they ...",https://assets.msn.com/labs/mind/BBWzQuK.html,"[{""Label"": ""MLS Cup"", ""Type"": ""U"", ""WikidataId...",[]
51281,N44276,autos,autossports,Best Sports Car Deals for October,NaN,https://assets.msn.com/labs/mind/BBy5rVe.html,"[{""Label"": ""Peugeot RCZ"", ""Type"": ""V"", ""Wikida...",[]

In [58]:
valid_article_ids = set(news['itemId'])
def filter_click_list(click_list):
    return [item for item in click_list if item in valid_article_ids]
def filter_click_history_list(click_list):
    if pd.notna(click_list['click_history']):
     return [item for item in click_list['click_history'].split() if item in valid_article_ids]
    else:
     return []
behaviors_df=df

behaviors_df['click'] = behaviors_df['click'].apply(filter_click_list)
behaviors_df['presented_slate'] = behaviors_df['presented_slate'].apply(filter_click_list)
behaviors_df['click_history'] = behaviors_df.apply(filter_click_history_list,axis=1)
# behaviors_df[behaviors_df['click'].apply(lambda x: any(item in valid_article_ids for item in x))]
# filtered_behaviors_df = filtered_behaviors_df[filtered_behaviors_df['presented_slate'].apply(lambda x: any(item in valid_article_ids for item in x))]
filtered_behaviors_df = behaviors_df[behaviors_df['click'].apply(lambda x: len(x) > 0)]
filtered_behaviors_df

,impressionId,userId,timestamp,click_history,impressions,click,presented_slate
1,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,"[N25587, N36266]","[N47996, N21431, N25587, N37544, N20780, N3626..."
2,3,U532401,11/13/2019 11:23:03 AM,"[N9375, N54948, N44660, N3948, N21332, N59280,...",N103852-0 N53474-0 N127836-0 N47925-1,[N47925],"[N53474, N47925]"
9,10,U290933,11/10/2019 11:54:34 AM,"[N14678, N33895, N53605, N46786, N46161, N4279...",N92691-0 N10654-0 N107542-0 N14509-0 N63262-0 ...,[N28902],"[N14509, N63262, N41362, N43555, N64730, N28902]"
13,14,U95671,11/14/2019 8:28:43 PM,"[N64593, N33216, N64496, N53360, N46664, N4058...",N62736-0 N52388-0 N16161-0 N127585-0 N88596-0 ...,[N51048],"[N62736, N52388, N16161, N43355, N63342, N1638..."
14,15,U656379,11/12/2019 4:09:59 PM,"[N60853, N26834, N65119, N15471, N34059, N9886...",N13761-0 N54239-0 N26667-0 N100324-0 N109642-0...,[N8701],"[N54239, N17464, N59935, N14374, N53882, N8719..."
...,...,...,...,...,...,...,...
2232735,2232736,U182931,11/14/2019 6:03:16 AM,"[N49247, N16416, N38627, N469, N60001, N39592,...",N18405-0 N76665-0 N25751-0 N5747-0 N85664-0 N4...,[N58641],"[N18405, N25751, N5747, N880, N39324, N51569, ..."
2232739,2232740,U303981,11/9/2019 8:36:28 AM,"[N41122, N9740, N61319, N13970, N46660, N37061...",N122706-0 N73137-0 N14848-1 N103397-0 N87267-0...,[N14848],"[N14848, N43186, N32209, N52920]"
2232741,2232742,U284157,11/12/2019 8:05:46 AM,[],N27097-0 N30899-0 N83412-0 N18539-1 N35619-0 N...,[N18539],"[N27097, N18539, N20990, N43085, N61065]"
2232744,2232745,U451238,11/12/2019 8:54:06 AM,[N12575],N18861-0 N20990-0 N43085-0 N7937-1,[N7937],"[N18861, N20990, N43085, N7937]"
2232745,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,"[N24001, N10285]","[N22811, N1923, N24001, N4504, N48188, N53474,..."

In [59]:
news[news['itemId'] == 'N82719']

Empty DataFrame
Columns: [itemId, category, subcategory, title, abstract, url, title_entities, abstract_entities]
Index: []

In [60]:
filtered_df = df[
    (df['click'].apply(lambda x: len(x) >= 5)) &
    (df['presented_slate'].apply(lambda x: 5 <= len(x) <= 10))
]

In [61]:
filtered_df = df[
    (df['click'].apply(lambda x: len(x) >= 5)) &
    (df['presented_slate'].apply(lambda x: 5 <= len(x) <= 10))
]
grouped_filtered_df = filtered_df.sort_values(by='timestamp').groupby('userId').agg({
    'impressions': lambda x: list(x),
    'timestamp': lambda x: list(x),
    'click_history': lambda x: list(x),
    'click': lambda x: list(x),
    'presented_slate': lambda x: list(x),   
}).reset_index()
grouped_filtered_df

,userId,impressions,timestamp,click_history,click,presented_slate
0,U112392,[N65552-0 N54015-0 N49168-1 N99177-0 N112156-0...,[11/11/2019 12:52:26 PM],"[[N1596, N53933, N24446, N35640, N48111, N4076...","[[N49168, N33037, N30483, N55944, N55792, N318...","[[N49168, N33037, N47026, N30483, N23086, N559..."
1,U127360,[N61065-1 N18861-1 N7937-0 N18539-0 N38902-1 N...,[11/12/2019 8:55:33 AM],"[[N13869, N49731, N39273, N8085, N43502, N9740...","[[N61065, N18861, N38902, N20990, N43085]]","[[N61065, N18861, N7937, N18539, N38902, N2099..."
2,U151956,[N24150-0 N26191-0 N24847-0 N49466-1 N46945-1 ...,[11/11/2019 6:45:54 PM],"[[N36423, N6229, N60154, N4594, N13423, N34016...","[[N46945, N44136, N54797, N3075, N40664]]","[[N24150, N26191, N24847, N46945, N44136, N547..."
3,U173090,[N38902-1 N61065-0 N20990-1 N84381-1 N100539-1...,[11/12/2019 10:24:56 AM],"[[N21710, N44991, N9375, N25648, N11898, N1885...","[[N38902, N20990, N7937, N18861, N62203]]","[[N38902, N61065, N20990, N7937, N43085, N4801..."
4,U187338,[N43085-0 N18861-1 N38902-1 N20990-1 N100073-0...,[11/12/2019 8:57:07 AM],"[[N56739, N35786, N54776, N20999, N49262, N757...","[[N18861, N38902, N20990, N7937, N27097]]","[[N43085, N18861, N38902, N20990, N18539, N610..."
5,U19086,[N2750-0 N116647-0 N48418-1 N83412-0 N118883-0...,[11/12/2019 9:37:09 AM],"[[N1229, N23666, N2539, N63476, N17456]]","[[N48418, N7937, N18539, N20990, N27097]]","[[N48418, N7937, N18539, N61065, N20990, N1886..."
6,U192249,[N37658-0 N35948-1 N36512-0 N77870-0 N48197-0 ...,[11/11/2019 1:57:09 AM],"[[N40446, N34715, N63723, N48526, N9740, N1838...","[[N35948, N1328, N32154, N3664, N43729]]","[[N37658, N35948, N36512, N48197, N1328, N3215..."
7,U193459,[N10285-0 N95525-0 N127134-1 N37178-0 N101233-...,[11/13/2019 3:28:53 PM],"[[N50163, N32721, N1219, N36629, N58661, N3072...","[[N53474, N1923, N24701, N4504, N5287]]","[[N10285, N37178, N53474, N1923, N24701, N4504..."
8,U204583,[N94157-0 N67101-0 N19858-1 N119932-0 N76306-0...,[11/10/2019 4:52:58 PM],"[[N26256, N29315, N38169, N64483, N64765, N223...","[[N19858, N50858, N2591, N3664, N24150]]","[[N19858, N38678, N50858, N2591, N54797, N3664..."
9,U206034,[N6725-1 N29928-0 N123544-0 N41101-1 N78882-0 ...,[11/12/2019 4:08:12 PM],"[[N7742, N41484, N14639, N33572, N31281, N3532...","[[N6725, N41101, N29481, N27744, N10252]]","[[N6725, N41101, N19110, N29481, N27744, N10252]]"
10,U233229,[N43085-0 N7937-0 N54239-0 N96373-0 N84381-0 N...,[11/12/2019 10:53:57 AM],"[[N58915, N18867, N56912, N47658, N60132, N62,...","[[N34269, N20990, N18861, N52079, N61065]]","[[N43085, N7937, N54239, N62203, N34269, N2099..."
11,U243568,[N43729-0 N92438-1 N110341-0 N112050-0 N70786-...,[11/11/2019 5:05:30 AM],"[[N63723, N63093, N36656, N47639, N32450, N556...","[[N58102, N55944, N37658, N32154, N3664]]","[[N43729, N58102, N55944, N37658, N1328, N3215..."
12,U259631,[N58641-0 N105407-1 N880-0 N84430-0 N112125-0 ...,[11/14/2019 9:11:52 AM],"[[N18389, N9740, N31268, N6379, N5305, N51570,...","[[N29544, N42039, N51163, N56873, N29441]]","[[N58641, N880, N29544, N48015, N42039, N35083..."
13,U263238,[N45626-0 N64873-1 N96939-0 N85664-0 N54407-0 ...,[11/14/2019 9:09:30 AM],"[[N18389, N64593, N50013, N33240, N64496, N601...","[[N64873, N51163, N48015, N29544, N880]]","[[N64873, N54407, N41710, N51163, N48015, N294..."
14,U270748,[N52079-1 N60135-0 N115021-0 N83903-0 N63952-0...,[11/12/2019 7:39:40 AM],"[[N9375, N55571, N65119, N45634, N8308, N20131...","[[N52079, N48418, N61065, N27097, N20990]]","[[N52079, N60135, N48418, N14374, N61065, N237..."
15,U275972,[N34650-0 N117705-0 N96373-0 N35652-0 N41101-1...,[11/12/2019 11:41:40 PM],"[[N22950, N63723, N29507, N16894, N57002, N146...","[[N41101, N58342, N48569, N49283, N27738]]","[[N34650, N35652, N41101, N58342, N12681, N485..."
16,U276044,[N122971-0 N76538-0 N118883-0 N61065-1 N87684-...,[11/12/2019 7:54:03 AM],"[[N19445, N3708, N41860, N33446, N10711, N1600...","[[N61065, N43085, N27097, N20990, N52079, N558...","[[N61065, N43085, N27097, N20990, N30417, N520..."
17,U322672,[N79812-0 N72190-0 N425-0 N125974-0 N36512-1 N...,[11/11/2019 6:04:15 AM],"[[N6251, N22259, N23929, N20285]]","[[N36512, N32154, N1328, N37658, N58102]]","[[N425, N36512, N32154, N1328, N37658, N23086,..."
18,U328883,[N125642-0 N110973-0 N24379-1 N116118-0 N8408-...,[11/11/2019 5:38:59 AM],"[[N55011, N57829, N18720, N45257, N14634, N375...","[[N24379, N8408, N2319, N31879, N39760]]","[[N24379, N8408, N2319, N31879, N46652, N4275,..."
19,U446488,[N93750-1 N49484-0 N125953-0 N17373-1 N79094-0...,[11/10/2019 3:33:25 PM],"[[N26421, N53611, N38742, N33216, N22328, N453...","[[N3664, N39363, N7299, N2591, N16403]]","[[N3664, N39363, N40282, N7299, N14509, N24150..."
20,U473272,[N27097-1 N83412-0 N100073-0 N30899-0 N125841-...,[11/12/2019 8:42:06 AM],"[[N29446, N49511, N18548, N50473, N7156, N1549...","[[N27097, N43085, N61065, N7937, N20990]]","[[N27097, N43085, N61065, N7937, N20990]]"
21,U492829,[N100073-1 N30899-1 N38902-1 N43085-0 N18539-1...,[11/12/2019 8:51:04 AM],"[[N33227, N37218, N58200, N37080, N18904, N149...","[[N38902, N18539, N27097, N61065, N7937]]","[[N38902, N43085, N18539, N20990, N27097, N610..."
22,U506439,[N1328-1 N43729-0 N64888-1 N73137-0 N3664-1 N5...,[11/11/2019 1:43:53 AM],"[[N34612, N31193]]","[[N1328, N64888, N3664, N36512, N37658, N32154]]","[[N1328, N43729, N64888, N3664, N55944, N48197..."
23,U507540,[N35652-1 N58342-1 N10802-0 N75954-0 N12040-0 ...,[11/13/2019 5:03:38 AM],"[[N9740, N29315, N14639, N26115, N65123, N3452...","[[N35652, N58342, N12681, N20964, N44037]]","[[N35652, N58342, N10802, N12040, N12681, N209..."
24,U546671,[N110627-1 N76665-1 N65446-0 N48015-1 N41547-0...,[11/14/2019 9:06:45 AM],"[[N18389, N9740, N12194, N63078, N64765, N5590...","[[N48015, N8236, N58641, N51163, N29441]]","[[N48015, N8236, N58641, N29544, N51163, N5687..."
25,U548448,[N59935-1 N83412-0 N20990-1 N27097-1 N61065-1 ...,[11/12/2019 8:46:41 AM],"[[N36761, N8668, N9740, N6229, N9375, N49511, ...","[[N59935, N20990, N27097, N61065, N7937]]","[[N59935, N20990, N27097, N61065, N7937]]"
26,U548986,[N37178-0 N3356-0 N103988-0 N42876-0 N105952-0...,[11/13/2019 8:52:00 PM],"[[N23907, N14696, N57406, N57685, N15187, N510...","[[N18405, N21419, N5287, N54296, N61711]]","[[N37178, N18405, N62357, N21419, N5287, N5347..."
27,U640954,[N10303-0 N32154-1 N35948-1 N77870-0 N43729-0 ...,[11/11/2019 2:53:40 AM],"[[N41122, N48412, N28921, N32221, N45124, N309...","[[N32154, N35948, N1328, N37658, N64888]]","[[N32154, N35948, N43729, N1328, N37658, N5594..."
28,U644269,[N1328-1 N99486-0 N125642-0 N32154-0 N110341-0...,[11/11/2019 4:49:47 AM],"[[N33917, N1396, N11327, N16894, N61319, N3918...","[[N1328, N3664, N58102, N37658, N43729]]","[[N1328, N32154, N3664, N58102, N36512, N55944..."
29,U684900,[N54296-0 N84886-0 N116711-0 N48015-1 N58641-1...,[11/14/2019 6:31:28 AM],"[[N48839, N58220, N16125, N51166, N48501]]","[[N48015, N58641, N18405, N25751, N10646]]","[[N54296, N48015, N58641, N18405, N25751, N106..."
30,U97424,[N58102-0 N73137-0 N10303-0 N108645-1 N32154-1...,[11/11/2019 4:49:14 AM],"[[N23546, N47847, N61339, N47393, N9740, N7515...","[[N32154, N3664, N49571, N1328, N36512, N55944]]","[[N58102, N32154, N64888, N3664, N43729, N3765..."

In [62]:
ls=grouped_filtered_df[grouped_filtered_df['userId'] == 'U10'][['presented_slate'][0]].tolist()
ls

[]

In [63]:
filtered_df_3 = df[
    (df['click'].apply(lambda x: len(x) >= 3)) &
    (df['presented_slate'].apply(lambda x: 5 <= len(x) <= 10))
]

In [64]:
filtered_df_2 = filtered_behaviors_df[
    (df['click'].apply(lambda x: len(x) != 1 or (len(x) == 0 and isinstance(x, list)))) &
    (df['presented_slate'].apply(lambda x: 5 <= len(x)))
].reset_index()

/tmp/ipykernel_3818226/1701421376.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df_2 = filtered_behaviors_df[

In [65]:
filtered_df_2

,index,impressionId,userId,timestamp,click_history,impressions,click,presented_slate
0,1,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,"[N25587, N36266]","[N47996, N21431, N25587, N37544, N20780, N3626..."
1,24,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,"[N5098, N47643, N44037, N18947, N43755, N34269]","[N5098, N33468, N26837, N24486, N47643, N36132..."
2,27,28,U552980,11/12/2019 9:07:14 AM,"[N45706, N6079]",N38902-0 N7937-0 N18861-0 N43085-0 N20990-1 N1...,"[N20990, N61065, N18539]","[N38902, N7937, N18861, N43085, N20990, N27097..."
3,33,34,U401352,11/11/2019 7:16:36 AM,"[N38742, N37473, N39625, N29446, N738, N560, N...",N97369-0 N28421-0 N98178-0 N97355-0 N58102-0 N...,"[N15420, N17053, N24150, N1328]","[N58102, N32154, N37861, N40500, N24516, N1258..."
4,71,72,U383569,11/13/2019 6:05:52 AM,"[N15808, N16249, N37206, N3948, N23920, N13510...",N93643-0 N44244-0 N122694-0 N46117-0 N13279-0 ...,"[N8719, N12483]","[N46117, N13279, N39674, N40583, N12847, N2256..."
...,...,...,...,...,...,...,...,...
186040,2232654,2232655,U184094,11/12/2019 7:05:55 AM,[],N7578-0 N65192-0 N105417-0 N44060-0 N117183-0 ...,"[N36306, N48418]","[N7578, N44060, N46739, N33123, N27097, N46785..."
186041,2232677,2232678,U447579,11/11/2019 11:01:23 AM,"[N16717, N1220, N714, N41459, N17460, N54393, ...",N86429-0 N15415-0 N67747-0 N117260-0 N86828-0 ...,"[N18199, N13229]","[N15415, N24150, N62017, N48969, N26404, N5411..."
186042,2232688,2232689,U548928,11/13/2019 7:12:53 PM,[],N4135-0 N63391-0 N98564-0 N128412-0 N47711-0 N...,"[N8253, N33521, N59704]","[N63391, N47711, N62357, N14267, N16244, N2141..."
186043,2232717,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,"[N19455, N47026]","[N47110, N42178, N25037, N425, N26404, N28009,..."
186044,2232745,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,"[N24001, N10285]","[N22811, N1923, N24001, N4504, N48188, N53474,..."

Interaction contains impression of size between 5 and 10 while interaction_all between 5 and greater.

In [14]:
filtered_df_2_1=filtered_df_2.explode('click', ignore_index=True)
filtered_df_2_1=filtered_df_2_1.drop(columns=['index'])
filtered_df_2_1
# feather_path=base_path/ Path("MINDlarge_train/interaction_all.feather")
# filtered_df_2_1.to_feather(feather_path)

,impressionId,userId,timestamp,click_history,impressions,click,presented_slate
0,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,N25587,"[N47996, N21431, N25587, N37544, N20780, N3626..."
1,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,N36266,"[N47996, N21431, N25587, N37544, N20780, N3626..."
2,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N5098,"[N5098, N33468, N26837, N24486, N47643, N36132..."
3,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N47643,"[N5098, N33468, N26837, N24486, N47643, N36132..."
4,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N44037,"[N5098, N33468, N26837, N24486, N47643, N36132..."
...,...,...,...,...,...,...,...
450973,2232689,U548928,11/13/2019 7:12:53 PM,[],N4135-0 N63391-0 N98564-0 N128412-0 N47711-0 N...,N59704,"[N63391, N47711, N62357, N14267, N16244, N2141..."
450974,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,N19455,"[N47110, N42178, N25037, N425, N26404, N28009,..."
450975,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,N47026,"[N47110, N42178, N25037, N425, N26404, N28009,..."
450976,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,N24001,"[N22811, N1923, N24001, N4504, N48188, N53474,..."
450977,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,N10285,"[N22811, N1923, N24001, N4504, N48188, N53474,..."

In [15]:
filtered_df_2

,index,impressionId,userId,timestamp,click_history,impressions,click,presented_slate
0,1,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,"[N25587, N36266]","[N47996, N21431, N25587, N37544, N20780, N3626..."
1,24,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,"[N5098, N47643, N44037, N18947, N43755, N34269]","[N5098, N33468, N26837, N24486, N47643, N36132..."
2,27,28,U552980,11/12/2019 9:07:14 AM,"[N45706, N6079]",N38902-0 N7937-0 N18861-0 N43085-0 N20990-1 N1...,"[N20990, N61065, N18539]","[N38902, N7937, N18861, N43085, N20990, N27097..."
3,33,34,U401352,11/11/2019 7:16:36 AM,"[N38742, N37473, N39625, N29446, N738, N560, N...",N97369-0 N28421-0 N98178-0 N97355-0 N58102-0 N...,"[N15420, N17053, N24150, N1328]","[N58102, N32154, N37861, N40500, N24516, N1258..."
4,71,72,U383569,11/13/2019 6:05:52 AM,"[N15808, N16249, N37206, N3948, N23920, N13510...",N93643-0 N44244-0 N122694-0 N46117-0 N13279-0 ...,"[N8719, N12483]","[N46117, N13279, N39674, N40583, N12847, N2256..."
...,...,...,...,...,...,...,...,...
186040,2232654,2232655,U184094,11/12/2019 7:05:55 AM,[],N7578-0 N65192-0 N105417-0 N44060-0 N117183-0 ...,"[N36306, N48418]","[N7578, N44060, N46739, N33123, N27097, N46785..."
186041,2232677,2232678,U447579,11/11/2019 11:01:23 AM,"[N16717, N1220, N714, N41459, N17460, N54393, ...",N86429-0 N15415-0 N67747-0 N117260-0 N86828-0 ...,"[N18199, N13229]","[N15415, N24150, N62017, N48969, N26404, N5411..."
186042,2232688,2232689,U548928,11/13/2019 7:12:53 PM,[],N4135-0 N63391-0 N98564-0 N128412-0 N47711-0 N...,"[N8253, N33521, N59704]","[N63391, N47711, N62357, N14267, N16244, N2141..."
186043,2232717,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,"[N19455, N47026]","[N47110, N42178, N25037, N425, N26404, N28009,..."
186044,2232745,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,"[N24001, N10285]","[N22811, N1923, N24001, N4504, N48188, N53474,..."

In [66]:
news['num_category'] = news['category'].factorize()[0]
article_category_map = news.set_index('itemId')['num_category'].to_dict()

def get_clicked_category_list(row):
    # if pd.notna(row['click_history']):
        # Use a list comprehension to create the list of categories
    categories = [article_category_map.get(article_id, 0) for article_id in row['click']]
    count_categories = [categories.count(i) for i in range(0, 18)]
    # else:
    #     # If 'click_history' is NaN, assign a list of zeros
    #     count_categories = []
    return count_categories
def get_clicked_hist_category_list(row):
    # if pd.notna(row['click_history']):
        # Use a list comprehension to create the list of categories
    categories = [article_category_map.get(article_id, 0) for article_id in row['click_history']]
    count_categories = [categories.count(i) for i in range(0, 18)]
    # else:
    #     # If 'click_history' is NaN, assign a list of zeros
    #     count_categories = []
    return count_categories

# Apply the function to create the new column
filtered_df_2['clicked_category_list'] = filtered_df_2.apply(get_clicked_category_list, axis=1)
filtered_df_2['clicked_hist_category_list'] = filtered_df_2.apply(get_clicked_hist_category_list, axis=1)
filtered_df_2

,index,impressionId,userId,timestamp,click_history,impressions,click,presented_slate,clicked_category_list,clicked_hist_category_list
0,1,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,"[N25587, N36266]","[N47996, N21431, N25587, N37544, N20780, N3626...","[1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 2, 1, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, ..."
1,24,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,"[N5098, N47643, N44037, N18947, N43755, N34269]","[N5098, N33468, N26837, N24486, N47643, N36132...","[0, 0, 0, 1, 0, 0, 2, 1, 1, 1, 0, 0, 0, 0, 0, ...","[0, 3, 19, 15, 3, 2, 0, 3, 1, 1, 2, 1, 4, 0, 0..."
2,27,28,U552980,11/12/2019 9:07:14 AM,"[N45706, N6079]",N38902-0 N7937-0 N18861-0 N43085-0 N20990-1 N1...,"[N20990, N61065, N18539]","[N38902, N7937, N18861, N43085, N20990, N27097...","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
3,33,34,U401352,11/11/2019 7:16:36 AM,"[N38742, N37473, N39625, N29446, N738, N560, N...",N97369-0 N28421-0 N98178-0 N97355-0 N58102-0 N...,"[N15420, N17053, N24150, N1328]","[N58102, N32154, N37861, N40500, N24516, N1258...","[1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 6, 4, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, ..."
4,71,72,U383569,11/13/2019 6:05:52 AM,"[N15808, N16249, N37206, N3948, N23920, N13510...",N93643-0 N44244-0 N122694-0 N46117-0 N13279-0 ...,"[N8719, N12483]","[N46117, N13279, N39674, N40583, N12847, N2256...","[0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2, 0, 6, 2, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...
186040,2232654,2232655,U184094,11/12/2019 7:05:55 AM,[],N7578-0 N65192-0 N105417-0 N44060-0 N117183-0 ...,"[N36306, N48418]","[N7578, N44060, N46739, N33123, N27097, N46785...","[1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
186041,2232677,2232678,U447579,11/11/2019 11:01:23 AM,"[N16717, N1220, N714, N41459, N17460, N54393, ...",N86429-0 N15415-0 N67747-0 N117260-0 N86828-0 ...,"[N18199, N13229]","[N15415, N24150, N62017, N48969, N26404, N5411...","[0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 3, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, ..."
186042,2232688,2232689,U548928,11/13/2019 7:12:53 PM,[],N4135-0 N63391-0 N98564-0 N128412-0 N47711-0 N...,"[N8253, N33521, N59704]","[N63391, N47711, N62357, N14267, N16244, N2141...","[0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
186043,2232717,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,"[N19455, N47026]","[N47110, N42178, N25037, N425, N26404, N28009,...","[1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2, 1, 11, 8, 4, 3, 3, 1, 1, 1, 2, 1, 5, 0, 0,..."
186044,2232745,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,"[N24001, N10285]","[N22811, N1923, N24001, N4504, N48188, N53474,...","[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [17]:
# correlation_matrix = filtered_df_2['clicked_category_list'].apply(pd.Series).corrwith(filtered_df_2['clicked_hist_category_list'].apply(pd.Series))
correlation_matrix = filtered_df_2.apply(lambda x: pd.Series(x['clicked_category_list']).corr(pd.Series(x['clicked_hist_category_list'])), axis=1)
# Print the correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)

/home/aayush/rl_mind_dataset/.venv/lib/python3.11/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/home/aayush/rl_mind_dataset/.venv/lib/python3.11/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

Correlation Matrix:
0         0.318606
1         0.037346
2         0.316228
3         0.396615
4         0.838084
            ...
186040         NaN
186041   -0.124821
186042         NaN
186043    0.315330
186044    0.685994
Length: 186045, dtype: float64

In [18]:
# import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
# sns.heatmap([correlation_matrix], annot=True, cmap='coolwarm', fmt=".2f", linewidths=.2)
# plt.title('Correlation Matrix')
# plt.show()

In [67]:
news[news['itemId'] == 'N25587']

,itemId,category,subcategory,title,abstract,url,title_entities,abstract_entities,num_category
34221,N25587,lifestyle,shop-holidays,Here's the Very Best of Oprah's Favorite Things,"This holiday season, we're thankful for Oprah.",https://assets.msn.com/labs/mind/BBWtDwH.html,"[{""Label"": ""Oprah's Favorite Things"", ""Type"": ...","[{""Label"": ""Oprah Winfrey"", ""Type"": ""P"", ""Wiki...",0

In [68]:
grouped_filtered_df_2 = filtered_df_2_1.sort_values(by='timestamp').groupby('userId').agg({
    'impressions': lambda x: list(x),
    'timestamp': lambda x: list(x),
    'click_history': lambda x: list(x),
    'click': lambda x: list(x),
    'presented_slate': lambda x: list(x),   
}).reset_index()
grouped_filtered_df_2

,userId,impressions,timestamp,click_history,click,presented_slate
0,U0,[N73137-0 N53751-0 N6865-0 N122343-0 N116601-0...,"[11/9/2019 6:44:01 AM, 11/9/2019 6:44:01 AM]","[[N39011, N63941], [N39011, N63941]]","[N35189, N38813]","[[N53751, N6865, N36542, N17456, N49969, N6307..."
1,U1,[N74049-0 N62203-0 N117342-0 N38152-0 N51219-0...,"[11/12/2019 2:24:19 PM, 11/12/2019 2:24:19 PM]","[[N14639, N27258, N42180, N7149, N55444, N1351...","[N17881, N36306]","[[N62203, N38152, N51219, N48418, N25635, N558..."
2,U10000,[N124876-0 N10802-0 N72609-0 N90996-0 N20964-0...,"[11/13/2019 6:06:09 AM, 11/13/2019 6:06:09 AM]","[[N34918, N9740, N36330, N63676, N1128, N65119...","[N10285, N13279]","[[N10802, N20964, N64640, N12681, N54984, N277..."
3,U100003,[N3718-0 N54015-0 N92260-0 N68562-0 N19455-0 N...,"[11/11/2019 12:13:11 PM, 11/11/2019 12:13:11 PM]","[[N50888, N58131, N44660, N49705, N60457, N631...","[N36306, N25145]","[[N3718, N19455, N23086, N25145, N36306, N4702..."
4,U100005,[N47711-0 N101233-0 N59935-0 N93856-0 N48784-1...,"[11/13/2019 11:41:43 AM, 11/13/2019 11:41:43 AM]","[[N41484, N38509, N60169, N49511, N13178, N340...","[N48784, N4504]","[[N47711, N59935, N48784, N10285, N63391, N427..."
...,...,...,...,...,...,...
131725,U99981,[N37658-0 N110341-0 N73137-0 N32154-1 N108749-...,"[11/11/2019 5:20:20 AM, 11/11/2019 5:20:20 AM,...","[[N9740, N18389, N44823, N57685, N1886, N18904...","[N3664, N32154, N1328, N58102, N10802, N13279,...","[[N37658, N32154, N1328, N3664, N425, N58102, ..."
131726,U99982,[N25656-0 N51320-0 N128367-0 N89721-0 N99484-0...,"[11/12/2019 11:11:19 AM, 11/12/2019 11:11:19 A...","[[N64765, N64496, N53360, N9375, N55571, N5220...","[N40550, N31958, N17881, N3075, N2004, N34629,...","[[N25656, N41710, N36266, N34269, N7937, N3075..."
131727,U99985,[N70497-0 N100449-0 N10303-0 N68346-0 N42694-0...,"[11/11/2019 1:54:58 AM, 11/11/2019 1:54:58 AM]","[[N58200], [N58200]]","[N1328, N55944]","[[N42694, N18508, N40500, N21669, N47023, N112..."
131728,U99991,[N103133-0 N51163-0 N48205-0 N95301-0 N76665-0...,"[11/14/2019 12:12:19 PM, 11/14/2019 12:12:19 PM]","[[N42703, N43056, N40863, N12568, N16247, N207...","[N62235, N56937]","[[N51163, N48205, N50175, N56873, N30339, N146..."
131729,U99992,[N98412-1 N42065-0 N33539-0 N88329-0 N97743-0 ...,"[11/14/2019 5:41:51 PM, 11/14/2019 5:41:51 PM]","[[N30249, N27430, N51082], [N30249, N27430, N5...","[N17907, N62235]","[[N42065, N33539, N61057, N34254, N27368, N511..."

In [69]:
max_length = grouped_filtered_df_2['click'].apply(len).max()
mean_length = grouped_filtered_df_2['click'].apply(len).mean()
min_length = grouped_filtered_df_2['click'].apply(len).min()
mode_length = grouped_filtered_df_2['click'].apply(len).mode().iloc[0]
median_length = grouped_filtered_df_2['click'].apply(len).median()

# Print the results
print("Max length:", max_length)
print("Mean length:", mean_length)
print("Min length:", min_length)
print("Mode length:", mode_length)
print("Median length:", median_length)

Max length: 60
Mean length: 3.4235026189933957
Min length: 2
Mode length: 2
Median length: 2.0

In [22]:
grouped_filtered_df_2_t = filtered_df_2_1.sort_values(by='timestamp').groupby('timestamp').agg({
    'impressions': lambda x: list(x),
    'click_history': lambda x: list(x),
    'click': lambda x: list(x),
    'presented_slate': lambda x: list(x),   
}).reset_index()
grouped_filtered_df_2_t

,timestamp,impressions,click_history,click,presented_slate
0,11/10/2019 10:00:05 PM,[N24150-0 N38678-0 N123362-0 N71090-0 N11296-0...,"[[N26193], [N26193]]","[N20751, N36512]","[[N24150, N38678, N11296, N46945, N19858, N398..."
1,11/10/2019 10:00:10 AM,[N40282-0 N51757-0 N44598-1 N13322-1 N47146-0 ...,"[[N41484, N62939, N40446, N19557, N63011, N970...","[N44598, N13322]","[[N40282, N51757, N44598, N13322, N47146, N318..."
2,11/10/2019 10:00:12 AM,[N101981-0 N25007-0 N19858-1 N96470-0 N37105-0...,"[[N55661, N5305, N2232, N16249, N38249, N33446...","[N19858, N27703, N31855, N29050, N31323]","[[N25007, N19858, N27933, N3786, N11719, N9293..."
3,11/10/2019 10:00:12 PM,[N3664-0 N64676-0 N90853-0 N76306-0 N38678-0 N...,"[[N14611, N25034, N4289, N3804, N48258], [N146...","[N43729, N36512]","[[N3664, N38678, N55944, N15415, N19858, N7277..."
4,11/10/2019 10:00:13 PM,[N26368-0 N88083-0 N36512-0 N12107-0 N97018-0 ...,"[[N51293, N26431, N4100, N50961, N52911, N3685...","[N15359, N7277, N13888, N42694]","[[N36512, N12107, N56196, N39363, N14509, N202..."
...,...,...,...,...,...
140413,11/9/2019 9:59:40 AM,[N94901-0 N113609-0 N83421-0 N6293-0 N113717-0...,"[[N7154, N38014, N40269, N43826, N52075, N1205...","[N26404, N59654, N35189, N6865, N54731]","[[N26404, N63286, N14509, N38376, N17456, N499..."
140414,11/9/2019 9:59:41 PM,[N78343-1 N25037-0 N4275-0 N26404-0 N99362-0 N...,"[[N35891, N1396, N59710, N47639, N1396, N13423...","[N44598, N56221, N45124]","[[N25037, N4275, N26404, N20281, N22524, N1450..."
140415,11/9/2019 9:59:44 AM,[N41217-0 N88891-0 N10544-0 N53751-0 N50852-0 ...,"[[N13337, N43253, N52075, N19432, N48926, N120...","[N7676, N31323]","[[N41217, N53751, N50852, N55764, N14848, N181..."
140416,11/9/2019 9:59:47 AM,[N118589-1 N14848-0 N95525-0 N24812-0 N31766-0...,"[[N26834, N49370, N51544, N16282, N10184, N484...","[N31552, N14509, N6865]","[[N14848, N24812, N31766, N53751, N31323, N267..."
140417,11/9/2019 9:59:56 AM,[N122706-0 N6865-0 N106344-0 N4858-0 N37025-0 ...,"[[N27258, N64208, N60902, N43151, N6379, N6449...","[N63286, N15736, N31323]","[[N6865, N45862, N9935, N31552, N27703, N12388..."

In [23]:
max_length = grouped_filtered_df_2_t['timestamp'].apply(len).max()
mean_length = grouped_filtered_df_2_t['timestamp'].apply(len).mean()
min_length = grouped_filtered_df_2_t['timestamp'].apply(len).min()
mode_length = grouped_filtered_df_2_t['timestamp'].apply(len).mode().iloc[0]
median_length = grouped_filtered_df_2_t['timestamp'].apply(len).median()

# Print the results
print("Max length:", max_length)
print("Mean length:", mean_length)
print("Min length:", min_length)
print("Mode length:", mode_length)
print("Median length:", median_length)

Max length: 22
Mean length: 21.144539873805353
Min length: 20
Mode length: 21
Median length: 21.0

In [70]:
news = pd.read_csv(
    base_path/ Path("MINDlarge_train/news.tsv"), 
    sep="\t",
    names=["itemId","category","subcategory","title","abstract","url","title_entities","abstract_entities"])
print(f"The article data consist in total of {len(news)} number of articles.")
news

The article data consist in total of 101527 number of articles.

,itemId,category,subcategory,title,abstract,url,title_entities,abstract_entities
0,N88753,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N45436,news,newsscienceandtechnology,Walmart Slashes Prices on Last-Generation iPads,Apple's new iPad releases bring big deals on l...,https://assets.msn.com/labs/mind/AABmf2I.html,"[{""Label"": ""IPad"", ""Type"": ""J"", ""WikidataId"": ...","[{""Label"": ""IPad"", ""Type"": ""J"", ""WikidataId"": ..."
2,N23144,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
3,N86255,health,medical,Dispose of unwanted prescription drugs during ...,NaN,https://assets.msn.com/labs/mind/AAISxPN.html,"[{""Label"": ""Drug Enforcement Administration"", ...",[]
4,N93187,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
...,...,...,...,...,...,...,...,...
101522,N115249,sports,more_sports,St. Dominic soccer player tries to kick cancer...,"Sometimes, what happens on the sidelines can b...",https://assets.msn.com/labs/mind/BBWzQnK.html,[],[]
101523,N64337,finance,finance-real-estate,Mansion Monday: Contemporary Des Moines home i...,Among the perks of this unique Des Moines home...,https://assets.msn.com/labs/mind/BBWzQq8.html,"[{""Label"": ""Des Moines, Iowa"", ""Type"": ""G"", ""W...","[{""Label"": ""Des Moines, Iowa"", ""Type"": ""G"", ""W..."
101524,N100102,sports,soccer_epl,How the Sounders won MLS Cup,"Mark, Jeremiah and Casey were so excited they ...",https://assets.msn.com/labs/mind/BBWzQuK.html,"[{""Label"": ""MLS Cup"", ""Type"": ""U"", ""WikidataId...",[]
101525,N74617,autos,autossports,Best Sports Car Deals for October,NaN,https://assets.msn.com/labs/mind/BBy5rVe.html,"[{""Label"": ""Peugeot RCZ"", ""Type"": ""V"", ""Wikida...",[]
101526,N56840,sports,more_sports,Shall we dance: Sports stars shake their leg,NaN,https://assets.msn.com/labs/mind/BBzMpnG.html,[],[]

In [25]:
categories = news['category'].unique()

In [26]:
category_num_mapping = {category: num for num, category in enumerate(news['category'].unique())}

# Create a new column 'num' in the news DataFrame based on the mapping
news['num_category'] = news['category'].map(category_num_mapping)

In [27]:
category_num_mapping

{'lifestyle': 0,
 'news': 1,
 'health': 2,
 'sports': 3,
 'weather': 4,
 'entertainment': 5,
 'foodanddrink': 6,
 'autos': 7,
 'travel': 8,
 'video': 9,
 'finance': 10,
 'tv': 11,
 'movies': 12,
 'music': 13,
 'kids': 14,
 'middleeast': 15,
 'games': 16,
 'northamerica': 17}

In [28]:
# for r in filtered_df_2_1[0]:
#     print(r)

In [71]:
# news['num_category'] = news['category'].factorize()[0]
# article_category_map = news.set_index('itemId')['num_category'].to_dict()
# # def get_category_list(row):
# #     if pd.notna(row['click_history']):
# #         # Use a list comprehension to create the list of categories
# #         categories=[0] * 18    
# #         for article_id in row['click_history'].split():
            
# #             i=article_category_map.get(article_id, -1)
# #             if i!=-1:
# #                 categories[i]+=1
# #     else:
# #         # If 'click_history' is NaN, assign an empty list
# #         categories = []
# #     return categories
# def get_category_list(row):
#     if pd.notna(row['click_history']):
#         # Use a list comprehension to create the list of categories
#         categories = [article_category_map.get(article_id, 0) for article_id in row['click_history'].split()]
#         count_categories = [categories.count(i) for i in range(0, 18)]
#     else:
#         # If 'click_history' is NaN, assign a list of zeros
#         count_categories = []
#     return count_categories

# # Apply the function to create the new column
# filtered_df_2_1['category_list'] = filtered_df_2_1.apply(get_category_list, axis=1)

In [73]:
filtered_df_2_1

,impressionId,userId,timestamp,click_history,impressions,click,presented_slate,observed_state
0,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,N25587,"[N47996, N21431, N25587, N37544, N20780, N3626...","[-0.004204966, 0.08593852, 0.333417, -0.269325..."
1,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,N36266,"[N47996, N21431, N25587, N37544, N20780, N3626...","[-0.004204966, 0.08593852, 0.333417, -0.269325..."
2,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N5098,"[N5098, N33468, N26837, N24486, N47643, N36132...","[-0.03157153, 0.10770532, 0.31085756, -0.24411..."
3,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N47643,"[N5098, N33468, N26837, N24486, N47643, N36132...","[-0.03157153, 0.10770532, 0.31085756, -0.24411..."
4,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N44037,"[N5098, N33468, N26837, N24486, N47643, N36132...","[-0.03157153, 0.10770532, 0.31085756, -0.24411..."
...,...,...,...,...,...,...,...,...
450973,2232689,U548928,11/13/2019 7:12:53 PM,[],N4135-0 N63391-0 N98564-0 N128412-0 N47711-0 N...,N59704,"[N63391, N47711, N62357, N14267, N16244, N2141...",None
450974,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,N19455,"[N47110, N42178, N25037, N425, N26404, N28009,...","[-0.029797075, 0.050112896, 0.34172142, -0.276..."
450975,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,N47026,"[N47110, N42178, N25037, N425, N26404, N28009,...","[-0.029797075, 0.050112896, 0.34172142, -0.276..."
450976,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,N24001,"[N22811, N1923, N24001, N4504, N48188, N53474,...","[0.58854, -0.2025, 0.73479, -0.68338, -0.19675..."
450977,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,N10285,"[N22811, N1923, N24001, N4504, N48188, N53474,...","[0.58854, -0.2025, 0.73479, -0.68338, -0.19675..."

In [74]:
article_category_map.get('N45706', 0)

8

In [75]:
# feather_path=base_path/ Path("MINDlarge_train/category.feather")
# filtered_df_2_1.to_feather(feather_path)

In [76]:
print(article_category_map.get('N88753', 0))
article_category_map
for article_id in filtered_df_2_1['click_history']:
    print(article_id)
    print(type(article_id))
    print(article_category_map.get(article_id, 0))
    break

0
['N56056', 'N8726', 'N16173', 'N24446', 'N26373', 'N29503', 'N31055']
<class 'list'>

TypeError: unhashable type: 'list'

In [77]:
filtered_df_2

,index,impressionId,userId,timestamp,click_history,impressions,click,presented_slate,clicked_category_list,clicked_hist_category_list
0,1,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,"[N25587, N36266]","[N47996, N21431, N25587, N37544, N20780, N3626...","[1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 2, 1, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, ..."
1,24,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,"[N5098, N47643, N44037, N18947, N43755, N34269]","[N5098, N33468, N26837, N24486, N47643, N36132...","[0, 0, 0, 1, 0, 0, 2, 1, 1, 1, 0, 0, 0, 0, 0, ...","[0, 3, 19, 15, 3, 2, 0, 3, 1, 1, 2, 1, 4, 0, 0..."
2,27,28,U552980,11/12/2019 9:07:14 AM,"[N45706, N6079]",N38902-0 N7937-0 N18861-0 N43085-0 N20990-1 N1...,"[N20990, N61065, N18539]","[N38902, N7937, N18861, N43085, N20990, N27097...","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
3,33,34,U401352,11/11/2019 7:16:36 AM,"[N38742, N37473, N39625, N29446, N738, N560, N...",N97369-0 N28421-0 N98178-0 N97355-0 N58102-0 N...,"[N15420, N17053, N24150, N1328]","[N58102, N32154, N37861, N40500, N24516, N1258...","[1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 6, 4, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, ..."
4,71,72,U383569,11/13/2019 6:05:52 AM,"[N15808, N16249, N37206, N3948, N23920, N13510...",N93643-0 N44244-0 N122694-0 N46117-0 N13279-0 ...,"[N8719, N12483]","[N46117, N13279, N39674, N40583, N12847, N2256...","[0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2, 0, 6, 2, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...
186040,2232654,2232655,U184094,11/12/2019 7:05:55 AM,[],N7578-0 N65192-0 N105417-0 N44060-0 N117183-0 ...,"[N36306, N48418]","[N7578, N44060, N46739, N33123, N27097, N46785...","[1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
186041,2232677,2232678,U447579,11/11/2019 11:01:23 AM,"[N16717, N1220, N714, N41459, N17460, N54393, ...",N86429-0 N15415-0 N67747-0 N117260-0 N86828-0 ...,"[N18199, N13229]","[N15415, N24150, N62017, N48969, N26404, N5411...","[0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 3, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, ..."
186042,2232688,2232689,U548928,11/13/2019 7:12:53 PM,[],N4135-0 N63391-0 N98564-0 N128412-0 N47711-0 N...,"[N8253, N33521, N59704]","[N63391, N47711, N62357, N14267, N16244, N2141...","[0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
186043,2232717,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,"[N19455, N47026]","[N47110, N42178, N25037, N425, N26404, N28009,...","[1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[2, 1, 11, 8, 4, 3, 3, 1, 1, 1, 2, 1, 5, 0, 0,..."
186044,2232745,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,"[N24001, N10285]","[N22811, N1923, N24001, N4504, N48188, N53474,...","[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [78]:
import torch
def sampled_user(count_list):
    probabilities_tensor = torch.tensor(count_list, dtype=torch.float32)
    probabilities_normalized = probabilities_tensor / probabilities_tensor.sum()

    # Sample a value based on the probabilities
    sampled_value = torch.multinomial(probabilities_normalized, 1).item()

    # Create the sampled tensor
    sampled_list_tensor = torch.zeros_like(probabilities_tensor, dtype=torch.float32)
    sampled_list_tensor[sampled_value] = 1
    return sampled_list_tensor

In [79]:
# sampled_user(filtered_df_2_1['category_list'].loc[0])

In [80]:
# user_state=torch.Tensor(filtered_df_2_1['category_list'].loc[0])
# user_state.shape
# print(user_state)

In [81]:
items=filtered_df_2_1['presented_slate'].loc[0]
items

['N47996',
 'N21431',
 'N25587',
 'N37544',
 'N20780',
 'N36266',
 'N46329',
 'N62024',
 'N11017',
 'N23946',
 'N6306']

In [82]:
import random
item_list = [article_category_map.get(key, []) for key in items]

remaining_items = 30 - len(item_list)
additional_values = random.choices(list(set(range(18)) - set(item_list)), k=remaining_items)

item_list.extend(additional_values)

random.shuffle(item_list)

In [83]:
set(range(18))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17}

In [84]:
length_of_list = len(item_list)

# Create a list of tensors
tensor_list = [torch.eye(19)[value] for value in item_list]

# Print the result
for i, tensor in enumerate(tensor_list):
    print(f"Tensor for value {item_list[i]}:\n{tensor}")

Tensor for value 7:
tensor([0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 10:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 7:
tensor([0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 17:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        0.])
Tensor for value 5:
tensor([0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 6:
tensor([0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 1:
tensor([0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 14:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
        0.])
Tensor for value 3:
tensor([0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 16:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0.])
Tensor for value 14:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
        0.])
Tensor for value 11:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 0:
tensor([1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 9:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 5:
tensor([0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 3:
tensor([0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 16:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0.])
Tensor for value 4:
tensor([0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 11:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 16:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0.])
Tensor for value 3:
tensor([0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 2:
tensor([0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 8:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 2:
tensor([0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 1:
tensor([0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 12:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
        0.])
Tensor for value 15:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        0.])
Tensor for value 17:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        0.])
Tensor for value 16:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0.])
Tensor for value 12:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
        0.])

In [85]:
user_id = filtered_df_2_1['userId'].loc[5]
timestamp = filtered_df_2_1['timestamp'].loc[5]
clicked_items = filtered_df_2_1[(filtered_df_2_1['userId'] == user_id) & (filtered_df_2_1['timestamp'] == timestamp)]['click'].tolist()
print(clicked_items)

['N5098', 'N47643', 'N44037', 'N18947', 'N43755', 'N34269']

In [86]:
# import numpy as np
# numpy_array = np.copy(
#            filtered_df_2_1["category_list"].loc[20176]
#         )
# user_state = torch.Tensor(numpy_array)
# print(user_state)

In [87]:
filtered_df_2_1.loc[35683]

impressionId                                                  175660
userId                                                       U159671
timestamp                                      11/13/2019 8:07:40 AM
click_history      [N45634, N16463, N20018, N57511, N15890, N5494...
impressions        N58198-0 N96373-0 N129969-0 N47925-1 N53474-0 ...
click                                                         N34484
presented_slate    [N58198, N47925, N53474, N64640, N13279, N4826...
observed_state     [-0.046618473, 0.09135151, 0.34457278, -0.3118...
Name: 35683, dtype: object

In [88]:
news_df = pd.read_feather(
            base_path / Path("MINDlarge_train/news_glove_embed.feather")
        )
embedding_dict = dict(zip(news_df["itemId"], news_df["embedding"]))

In [89]:
filtered_df_2_1

,impressionId,userId,timestamp,click_history,impressions,click,presented_slate,observed_state
0,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,N25587,"[N47996, N21431, N25587, N37544, N20780, N3626...","[-0.004204966, 0.08593852, 0.333417, -0.269325..."
1,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,N36266,"[N47996, N21431, N25587, N37544, N20780, N3626...","[-0.004204966, 0.08593852, 0.333417, -0.269325..."
2,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N5098,"[N5098, N33468, N26837, N24486, N47643, N36132...","[-0.03157153, 0.10770532, 0.31085756, -0.24411..."
3,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N47643,"[N5098, N33468, N26837, N24486, N47643, N36132...","[-0.03157153, 0.10770532, 0.31085756, -0.24411..."
4,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N44037,"[N5098, N33468, N26837, N24486, N47643, N36132...","[-0.03157153, 0.10770532, 0.31085756, -0.24411..."
...,...,...,...,...,...,...,...,...
450973,2232689,U548928,11/13/2019 7:12:53 PM,[],N4135-0 N63391-0 N98564-0 N128412-0 N47711-0 N...,N59704,"[N63391, N47711, N62357, N14267, N16244, N2141...",None
450974,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,N19455,"[N47110, N42178, N25037, N425, N26404, N28009,...","[-0.029797075, 0.050112896, 0.34172142, -0.276..."
450975,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,N47026,"[N47110, N42178, N25037, N425, N26404, N28009,...","[-0.029797075, 0.050112896, 0.34172142, -0.276..."
450976,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,N24001,"[N22811, N1923, N24001, N4504, N48188, N53474,...","[0.58854, -0.2025, 0.73479, -0.68338, -0.19675..."
450977,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,N10285,"[N22811, N1923, N24001, N4504, N48188, N53474,...","[0.58854, -0.2025, 0.73479, -0.68338, -0.19675..."

In [90]:
def user_embedding(row):
  
    item_embeddings = [embedding_dict[item_id] for item_id in row['click_history'] if item_id in embedding_dict]
    item_embeddings = [embedding for embedding in item_embeddings if embedding is not None]
    if item_embeddings:
        user_embedding = sum(item_embeddings) / len(item_embeddings)
    else:

        user_embedding = None
    return user_embedding

# Apply the function to create the new column
filtered_df_2_1['observed_state'] = filtered_df_2_1.apply(user_embedding, axis=1)

In [91]:
filtered_df_2_1

,impressionId,userId,timestamp,click_history,impressions,click,presented_slate,observed_state
0,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,N25587,"[N47996, N21431, N25587, N37544, N20780, N3626...","[-0.004204966, 0.08593852, 0.333417, -0.269325..."
1,2,U598644,11/12/2019 1:45:29 PM,"[N56056, N8726, N16173, N24446, N26373, N29503...",N47996-0 N82719-0 N117066-0 N8491-0 N123784-0 ...,N36266,"[N47996, N21431, N25587, N37544, N20780, N3626...","[-0.004204966, 0.08593852, 0.333417, -0.269325..."
2,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N5098,"[N5098, N33468, N26837, N24486, N47643, N36132...","[-0.03157153, 0.10770532, 0.31085756, -0.24411..."
3,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N47643,"[N5098, N33468, N26837, N24486, N47643, N36132...","[-0.03157153, 0.10770532, 0.31085756, -0.24411..."
4,25,U552512,11/12/2019 8:51:10 PM,"[N38169, N8402, N3773, N59981, N2511, N38556, ...",N5098-1 N82866-0 N58417-0 N74117-0 N33468-0 N2...,N44037,"[N5098, N33468, N26837, N24486, N47643, N36132...","[-0.03157153, 0.10770532, 0.31085756, -0.24411..."
...,...,...,...,...,...,...,...,...
450973,2232689,U548928,11/13/2019 7:12:53 PM,[],N4135-0 N63391-0 N98564-0 N128412-0 N47711-0 N...,N59704,"[N63391, N47711, N62357, N14267, N16244, N2141...",None
450974,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,N19455,"[N47110, N42178, N25037, N425, N26404, N28009,...","[-0.029797075, 0.050112896, 0.34172142, -0.276..."
450975,2232718,U336607,11/11/2019 1:06:27 PM,"[N7342, N18389, N48971, N62165, N47587, N16564...",N128940-0 N111699-0 N68562-0 N47110-0 N42178-0...,N47026,"[N47110, N42178, N25037, N425, N26404, N28009,...","[-0.029797075, 0.050112896, 0.34172142, -0.276..."
450976,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,N24001,"[N22811, N1923, N24001, N4504, N48188, N53474,...","[0.58854, -0.2025, 0.73479, -0.68338, -0.19675..."
450977,2232746,U151246,11/13/2019 12:42:51 PM,[N49668],N39887-1 N22811-0 N110709-1 N1923-0 N24001-1 N...,N10285,"[N22811, N1923, N24001, N4504, N48188, N53474,...","[0.58854, -0.2025, 0.73479, -0.68338, -0.19675..."

In [92]:
# feather_path=base_path/ Path("MINDlarge_train/interaction_all.feather")
# filtered_df_2_1.to_feather(feather_path)

In [121]:
import numpy as np
num_rows = len(filtered_df_2_1)
random_index = np.random.randint(0, num_rows)
items = filtered_df_2_1["presented_slate"].loc[random_index]

item_list = [embedding_dict.get(key, []) for key in items]

In [122]:
len(item_list)

62

In [123]:
k=100
all_vectors = [np.array(vector) for vector in embedding_dict.values()]

    # Convert item_list vectors to NumPy arrays
item_list_arrays = [np.array(vector) for vector in item_list]

# Filter out vectors that are already in item_list
available_vectors = [vector for vector in all_vectors if not any(np.array_equal(vector, item) for item in item_list_arrays)]

# If there are less than k available vectors, you can decide how to handle this situation
if len(available_vectors) < k:
    raise ValueError("Not enough available vectors to select k random vectors.")

In [124]:
selected_lists = random.sample(available_vectors, k)
print(k)
print(len(selected_lists))
print(len(item_list))

100
100
62

In [125]:
item_list.extend(selected_lists)
random.shuffle(item_list)
len(item_list)

162